name: unit-tests
on: [push, pull_request]
jobs:
  linux:
    name: linux
    runs-on: ubuntu-latest
    strategy:
      matrix:
        vim:
          - nightly
    steps:
      - name: Install packages
        run: |
          sudo apt update
          sudo apt install -y python3
          sudo apt install -y gcc
      - name: Setup Vim
        uses: rhysd/action-setup-vim@v1
        id: vim
        with:
          version: ${{ matrix.vim }}
      - name: Checkout CompetiTest plugin Code
        uses: actions/checkout@v5
      - name: Run Tests
        working-directory: ./test
        run: |
          uname -a
          export VIMPRG=${{ steps.vim.outputs.executable }}
          $VIMPRG --version
          ./run_tests.sh
